################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/remlore.sln
/remlore.sln
