@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a  class="w-100 btn btn-lg btn-primary" href="@Model.ReturnUrl">Continue</a>
