@page
@model ConsentModel

@{
    ViewData["Title"] = "Consent";
}

<h1>@ViewData["Title"]</h1>
<form method="post">
    <input type="submit" name="grant" value="Grant">
    <input type="submit" name="grant" value="Deny" />
</form>
